<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Delete Category</h4>
    <button (click)="activeModal.dismiss('Cross click')"
            aria-label="Close"
            class="btn-close"
            type="button">
    </button>
  </div>
  <div class="modal-body">
    <p>Do you really want to save delete the category {{categoryName}}.</p>
  </div>
  <div class="modal-footer">
    <div>
      <button (click)="activeModal.dismiss('close')"
              aria-label="Close"
              class="btn btn-outline-secondary mx-2"
              type="button">
        Abort
      </button>
      <button type="button" class="btn btn-danger" (click)="activeModal.close()">
        Delete Category
      </button>
    </div>
  </div>
</div>
