<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Save Playlist</h5>
    <button type="button" class="btn-close" (click)="activeModal.dismiss('Cross click')"
            aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>Save Playlist body</p>
    <!--    TODO Select amount, enter name, -->
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.dismiss()" aria-label="Close">Close
    </button>
    <button type="button" class="btn btn-primary" (click)="activeModal.close()">Save Playlist</button>
  </div>
</div>
