<nav class="navbar navbar-expand bg-body-secondary">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Rank your Songs!</a>
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
    </ul>

    @if (!(userService.isLoggedIn | async)) {
      <a class="btn btn-primary" role="button" (click)="login()">Log in</a>
    } @else {
      @if (currentUser$ | async; as currentUser) {
        <div>
          <span>{{ currentUser.display_name }}</span>
          <img class="m-2 profile-img"
               width="50"
               height="50"
               ngSrc="{{currentUser.images[0].url}}"
               alt="profile picture">
        </div>
      }
      <a class="btn btn-outline-secondary" role="button" (click)="logout()">Log out</a>
    }
  </div>
</nav>

