<nav class="navbar navbar-expand bg-body-secondary p-2">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Rank your Songs!</a>
    <ul class="navbar-nav me-auto my-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/me">My Playlists</a>
      </li>
    </ul>

    <div *ngIf="currentUser$ | async as currentUser">
      <div>
        <span>{{currentUser.display_name}}</span>
        <img class="m-2 profile-img" width="60" height="60"
             ngSrc="{{currentUser.images[0].url}}"
             alt="profile picture">
      </div>
    </div>
  </div>
</nav>
