<div class="page container">
  <h1>Playlist Sorting</h1>

  <div cdkDropListGroup>
    <div class="row">
      <div class="col">
        <h2>Selected Songs</h2>
        <mat-card>
          <mat-card-content>
            <div (cdkDropListDropped)="drop($event)"
                 [cdkDropListData]="source"
                 cdkDropList
                 style="min-height: 20px">
              @for (item of source; track item) {
                <app-track-entry [track]="item" cdkDrag class="mx-1"></app-track-entry>
              }
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <h2>Categories</h2>
        @for (cat of targets; track cat; let i = $index) {
          <app-category-container
            (propagateDropped)="drop($event)"
            (delete)="deleteCategory($event, i)"
            (save)="saveCategory($event, cat.name)"
            [tracks]="cat.tracks"
            [index]="i"
            class="me-1"></app-category-container>
        }
        <div class="d-flex justify-content-center">
          <button (click)="addCategory()" class="btn btn-primary rounded-5">
            <i class="bi bi-plus-circle" style="font-size:20px"></i>
          </button>
        </div>
      </div>
    </div>
  </div>


</div>
