<div class="page container">
  <h1>Playlist Sorting</h1>

  <div cdkDropListGroup>
    <div class="row">
      <div class="col">
        <h2>Selected Songs</h2>
        <mat-card>
          <mat-card-content>
            <div (cdkDropListDropped)="drop($event)"
                 [cdkDropListData]="source"
                 cdkDropList
                 class="" style="min-height: 20px">
              <ng-container *ngFor="let item of source">
                <app-track-entry class="mx-1" [track]="item" cdkDrag></app-track-entry>
              </ng-container>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col">
        <h2>Categories</h2>
        <ng-container *ngFor="let cat of targets; index as i;">
          <app-category-container
            [index]="i"
            [tracks]="cat.tracks"
            (propagateDropped)="drop($event)"
            class="me-1"></app-category-container>
        </ng-container>

        <div class="d-flex justify-content-center">
          <button class="btn btn-primary rounded-circle" (click)="addCategory()">+</button>
        </div>
      </div>
    </div>
  </div>


</div>
