<div class="page">
  @if (!(this.userService.isLoggedIn | async)) {
    <!-- If NOT logged in  -->
    <div class="container">
      <div class="text-center">
        <h1>Login with Spotify</h1>
      </div>
      <div class="d-flex justify-content-center">
        <a (click)="login()"
           class="btn btn-primary"
           type="button">
          Login
        </a>
      </div>
    </div>
  } @else {
    <!--    If logged in-->
    <div class="container">
      <div class="row">
        <h1 class="text-center">1: Select Playlists</h1>
        <h4>Selected {{ selectCount }} Tracks</h4>
      </div>
      <div class="row mb-3">
        <app-playlist-grid [playlists]="playlists" (selectEvent)="handleSelectEvent($event)"></app-playlist-grid>
      </div>
      <div class="row ">
        <h1 class="text-center">2: What do you want to do?</h1>
        <div class="col d-flex flex-column">
          <div class="m-auto">
            <button type="button" class="btn btn-primary" (click)="goToRanking()" [disabled]="selectCount===0">Rank your
              songs
            </button>
          </div>
          <div class="m-auto">
            <img src="assets/home-icons/ranking-placeholder.png" alt="song sorting">
          </div>
        </div>
        <div class="col d-flex flex-column justify-content-center">
          <div class="m-auto">
            <button type="button" class="btn btn-primary" (click)="goToSorting()" [disabled]="selectCount===0">Playlist
              Sorting
            </button>
          </div>
          <div class="m-auto">
            <img src="assets/home-icons/sorting-placeholder.png" alt="song sorting">
          </div>
        </div>
      </div>
    </div>
  }
</div>
