<div class="page">
  <ng-container *ngIf="!(this.userService.isLoggedIn | async); else elseBlock">
    <div class="container">
      <div class="text-center">
        <h1>Login with Spotify</h1>
      </div>
      <div class="d-flex justify-content-center">
        <a (click)="login()"
           class="btn btn-primary"
           type="button">
          Login
        </a>
      </div>
    </div>
  </ng-container>

  <ng-template #elseBlock>
    <div class="container">
      <div class="row">
        <div class="col d-flex justify-content-center">
          <button type="button" class="btn btn-primary" routerLink="ranking/playlists">Rank your songs</button>
        </div>
        <div class="col d-flex justify-content-center">
          <button type="button" class="btn btn-primary" routerLink="sorting" disabled="{{true}}">Playlist Sorting
          </button>
        </div>
        <div class="col d-flex justify-content-center">
          <button type="button" class="btn btn-primary" routerLink="" disabled="{{true}}">Coming soon</button>
        </div>
      </div>
    </div>
  </ng-template>
</div>
