mat-card {
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 5px 5px 20px 0 rgba(0, 0, 0, 0.5);
}

.mat-mdc-card-content:last-child {
  padding-bottom: 12px;
}

.zoom {
  transition: transform .2s;
  cursor: pointer;
}

.zoom:hover {
  transform: scale(1.05);
}
